#container {
    padding-bottom: 6rem;
}

header h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

#home-slideshow article {
	position: relative;
	text-align: center;
    background-color: #EEE;
}

#home-slideshow img {
	max-width: 100%;
	max-height: 60vh;
	margin: auto;
}

#home-slideshow h3 {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: right;
	background-color: rgba(0,0,0,0.5);
	color: white;
	line-height: 2;
	padding-right: 1em;
	margin: 0;
}
#home-slideshow a {
	color: inherit;
}
.slick-prev:before, .slick-next:before {
	color: black;
}

@media (max-width:600px) {
    header h1, h2, h3 a {
        font-size: 4vw;
    }
}