#category-grid article,
#home-slideshow article {
	position: relative;
	text-align: center;
}

#home-slideshow img {
	max-width: 100%;
	max-height: 60vh;
	margin: auto;
}

#home-slideshow h3 {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: right;
	background-color: rgba(0,0,0,0.5);
	color: white;
	line-height: 2;
	padding-right: 1em;
	margin: 0;
}

.slick-prev:before, .slick-next:before {
	color: black;
}

.grid {
	display: grid;
}
#category-grid {
	grid-gap: 1em;
	grid-template-columns: repeat(3, 1fr);
}
#category-grid img {
	width: 100%;
	height: 40vh;
	object-fit: cover;
}
#category-grid h3 {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: right;
	background-color: rgba(0,0,0,0.5);
	color: white;
	line-height: 2;
	padding-right: 1em;
	margin: 0;
}